workflows/email-task-workflow.json
{
  "name": "Email-to-Task Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "Label_1030688879558924728"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        304
      ],
      "id": "55228167-2c9b-4acc-b85e-22a4afb0c5b4",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "4rgf3onoG15TrvnQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst email = item.json;\n\nconst sender = email.From || email.from || 'unknown@example.com';\nconst subject = email.Subject || email.subject || 'No Subject';\nconst body = (email.snippet || email.textPlain || 'No content').substring(0, 500);\nconst priority = subject.toUpperCase().includes('URGENT') ? 'High' : 'Medium';\n\nreturn [\n  {\n    json: {\n      sender: sender,\n      subject: subject,\n      description: body,\n      priority: priority,\n      receivedAt: new Date().toISOString(),\n      emailId: email.id || 'unknown',\n      threadId: email.threadId || 'unknown'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        304
      ],
      "id": "f7fc2b9d-a6dd-4e0f-a836-0ca1d6d7adf9",
      "name": "Extract Email Data"
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        304,
        416
      ],
      "id": "ac7fe608-6127-4609-becf-922a01cef852",
      "name": "Archive Email",
      "webhookId": "d27061fd-92b5-4df7-93f0-4aa6af185853",
      "credentials": {
        "gmailOAuth2": {
          "id": "4rgf3onoG15TrvnQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ca64780-677d-4dfb-99c8-a2d23c1d148c",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        304
      ],
      "id": "a89ae272-2594-4cda-afea-091cac7d5b94",
      "name": "Check for Errors"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#general",
          "mode": "name"
        },
        "text": "=Email-to-Task Workflow Error\n\nNode: {{ $node[\"Create Task in Notion\"].name }}\nTime: {{ $now.toISO() }}\nEmail Subject: {{ $('Extract Email Data').item.json.subject }}\n\nError Details:\n{{ $json.error || 'Unknown error' }}\n\nCheck n8n execution: {{ $execution.id }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        304,
        160
      ],
      "id": "fdb7fbf9-81f3-461f-998b-d1d92f712508",
      "name": "Send Error Alert",
      "webhookId": "3fc2d2e9-bd1f-4c67-961d-38c95c6a5d13",
      "credentials": {
        "slackOAuth2Api": {
          "id": "yv1WgeiKdv2MTrux",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1eb1b5f3-1852-4f06-a3b1-1b14b064d059",
              "name": "logEntry",
              "value": "=Email processed successfully: - From: {{ $('Extract Email Data').item.json.sender }} - Subject: {{ $('Extract Email Data').item.json.subject }} - Notion Task Created: {{ $('Create Task in Notion').item.json.id }} - Processed At: {{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        416
      ],
      "id": "c1e1200c-3767-4725-be3f-7ab9bb318bf1",
      "name": "Log Success"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2eaf1fe45def80db898af38cc89d17d1",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Title|title",
              "title": "={{ $json.subject }}"
            },
            {
              "key": "Requester|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.sender }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "key": "Priority|select",
              "selectValue": "={{ $json.priority }}"
            },
            {
              "key": "Description|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.description }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "key": "Status|select",
              "selectValue": "To Do"
            },
            {
              "key": "Created At|date",
              "date": "={{ $json.receivedAt }}",
              "timezone": "Africa/Lagos"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -112,
        304
      ],
      "id": "51b6de9c-4394-441c-8e11-d9009c70de41",
      "name": "Create Task in Notion",
      "retryOnFail": true,
      "credentials": {
        "notionApi": {
          "id": "xSu7TYPsDy46IDln",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Data": {
      "main": [
        [
          {
            "node": "Create Task in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Archive Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Email": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task in Notion": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "19e765dd-9ef6-4ac2-83a9-0c624dcae8e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "420da16e8a4bbbd9d07a488b082e20b52badc29a41dd5a8a3840782b3e7ae978"
  },
  "id": "gFOSxJM8yAkn5sx8",
  "tags": []
}
